*{
    margin: 0;
    padding: 0;
}
.biao1{
    margin:auto;
    text-align: center;
    
    color: brown;
}
.biao1 h4{
    margin-top: 50px;
    font-size: 30px;

}
.biao1 h6{
    margin-top: 20px;
    font-size:  40px; 
    color: black;
    margin-bottom: 20px;
   
}
.biao2{
    border-top: 2px solid #9e6901;
    
    margin: 0 auto;
    width: 1100px;
}
.biao2 .tou{
    margin-top:10px ;
    width: 100%;
    height: 50px;
}
.biao2 .tou p{
float: left;
width:142px ;
text-align: center;
}
.biao2 .tx{
    width: 100%;
    height: 130px;
    padding-top: 10px;
    cursor:pointer;
}
.biao2 .tx p{
    display: flex;
    float: left;
    width:142px ;
    margin-top:10px ;
    text-align: center;
    justify-content:center;
    }
  .biao2 .tx p img {
        width: 50%;
        position: relative;
        bottom: 20px;
    }
    .biao2 .ds{
        padding: 10px;
        width: 750px;
        height: 100px;
        text-align: left;
        margin:auto;
        border: 1px solid #7e7d7d;
        line-height: 25px;
        border-radius: 5px;
    position: relative;
 bottom: 35px;

    }
.te p{ font-size: 35px;
margin-left:500px;
color: crimson;}
